body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif  ;

}

.form{
   text-align: center;
   padding-top: 75px;
    
}

#cadastre {
    display: flex;
    justify-content: space-around;
    
}

a{
    text-decoration: none; 
    color: black;
    text-decoration: underline;

}

#botentrar{
    color: aliceblue;
    background-color: black;
    margin-top: 50px;
    height: 35px;
    width: 55px;


}

#fichario{
   padding-left: 150px;
   padding-top: 50px;
   font-size: 20px;
}

#botaocad{
    height: 50px;
    width: 90px; ;
    margin-left: 80%;
    font-size: 1.0rem;
    color: aliceblue;
    background-color: black;

}

.caixa{
    display:flex;
    margin-left: 100px;
    margin-top: -20px;

}
.h2{
    text-align: center;
    font-size: 30px;

}
#enviaresquec{
    height: 50px;
    width: 90px; ;
    margin-left: 80%;
    font-size: 1.0rem;
    margin-top: 200px;
    color: aliceblue;
    background-color: black;

}


